@charset "UTF-8";


/* Requisitos específicos nesta página:
=> Css: Estilizar o rodapé usando exclusivamente css. (linha 34) */
body{
    height: 100%;
    background-image: linear-gradient(#34346E,#54546E );
    z-index: -1;
}
#cont{
    background-color: rgba(255, 255, 255, 0.692);
    /* border: 1px solid white; */
    box-shadow: white 0px 0px 5px 5px;
    height: 100%;
    z-index: 0;
    font-family: Arial;
}
#cabecalho{
    height: 300px;
    background-color: white;
    /* border: 1px solid #54546E; */
    box-shadow: #54546E 0px 0px 5px 5px;
}
nav{
    box-shadow: white 0px 0px 5px 5px;
}
#carouselExampleControls{
    width: 200px;
    height: 83px;
    box-shadow: white 0px 0px 10px 10px;
}
/* Estilização do rodapé com CSS */
#rodape{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: white 0px 0px 5px 20px;
    margin-top: 50px;
}
#rodape img{
    width: 100px;
    margin-left: 100px;
}
#rodape p{ 
    margin-left: 600px;
    margin-top: 45px;
}
#botao-topo{
   position: fixed;
   right: 80px;
   bottom: 300px;
}
